function Main.drawBox 0
push argument 0
push argument 1
push argument 2
push argument 1
push argument 4
add
push constant 1
sub
call Screen.drawRectangle 4
pop temp 0
push argument 0
push argument 3
push argument 4
sub
push constant 1
add
push argument 2
push argument 3
call Screen.drawRectangle 4
pop temp 0
push argument 0
push argument 1
push argument 0
push argument 4
add
push constant 1
sub
push argument 3
call Screen.drawRectangle 4
pop temp 0
push argument 2
push argument 4
sub
push constant 1
add
push argument 1
push argument 2
push argument 3
call Screen.drawRectangle 4
pop temp 0
push constant 0
return
function Main.drawPlayerLife 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push constant 0
push constant 38
call Output.moveCursor 2
pop temp 0
push constant 10
call String.new 1
push constant 69
call String.appendChar 2
push constant 68
call String.appendChar 2
push constant 73
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 45
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 72
call String.appendChar 2
push constant 80
call String.appendChar 2
push constant 58
call String.appendChar 2
push constant 32
call String.appendChar 2
call Output.printString 1
pop temp 0
push argument 0
push constant 10
lt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
call Output.printInt 1
pop temp 0
label IF_FALSE0
push argument 0
call Output.printInt 1
pop temp 0
push constant 0
return
function Main.drawBossLife 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push constant 0
push constant 0
call Output.moveCursor 2
pop temp 0
push constant 11
call String.new 1
push constant 74
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 99
call String.appendChar 2
push constant 107
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 45
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 72
call String.appendChar 2
push constant 80
call String.appendChar 2
push constant 58
call String.appendChar 2
push constant 32
call String.appendChar 2
call Output.printString 1
pop temp 0
push argument 0
push constant 10
lt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
call Output.printInt 1
pop temp 0
label IF_FALSE0
push argument 0
call Output.printInt 1
pop temp 0
push constant 0
return
function Main.playerDamage 1
push argument 0
push argument 1
sub
pop local 0
push local 0
call Main.drawPlayerLife 1
pop temp 0
push local 0
return
function Main.bossDamage 1
push argument 0
push argument 1
sub
pop local 0
push local 0
call Main.drawBossLife 1
pop temp 0
push local 0
return
function Main.drawBoss 1
push constant 16384
push argument 0
add
pop local 0
push local 0
push constant 8192
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 8192
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 8192
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 2048
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 4096
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 1920
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 256
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 512
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 4096
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 2048
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 1024
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 12800
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 15872
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 32767
not
call Memory.poke 2
pop temp 0
push local 0
push constant 512
add
push constant 8128
call Memory.poke 2
pop temp 0
push local 0
push constant 544
add
push constant 3104
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 576
add
push constant 8080
call Memory.poke 2
pop temp 0
push local 0
push constant 608
add
push constant 512
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 640
add
push constant 1024
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 672
add
push constant 2048
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 704
add
push constant 6144
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 736
add
push constant 17408
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 768
add
push constant 7680
call Memory.poke 2
pop temp 0
push local 0
push constant 800
add
push constant 1920
call Memory.poke 2
pop temp 0
push local 0
push constant 832
add
push constant 576
call Memory.poke 2
pop temp 0
push local 0
push constant 864
add
push constant 960
call Memory.poke 2
pop temp 0
push local 0
push constant 896
add
push constant 288
call Memory.poke 2
pop temp 0
push local 0
push constant 928
add
push constant 208
call Memory.poke 2
pop temp 0
push local 0
push constant 960
add
push constant 144
call Memory.poke 2
pop temp 0
push local 0
push constant 992
add
push constant 240
call Memory.poke 2
pop temp 0
push local 0
push constant 1024
add
push constant 32568
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1056
add
push constant 32636
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1088
add
push constant 16028
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1120
add
push constant 15982
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1152
add
push constant 16372
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1184
add
push constant 16384
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1216
add
push constant 16384
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1248
add
push constant 16384
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1280
add
push constant 8192
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1312
add
push constant 16384
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1344
add
push constant 16384
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1376
add
push constant 16384
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1408
add
push constant 16384
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1440
add
push constant 8192
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1472
add
push constant 4096
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1504
add
push constant 2048
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1536
add
push constant 1024
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1568
add
push constant 31744
call Memory.poke 2
pop temp 0
push local 0
push constant 1
add
push constant 4095
call Memory.poke 2
pop temp 0
push local 0
push constant 33
add
push constant 8191
call Memory.poke 2
pop temp 0
push local 0
push constant 65
add
push constant 7967
call Memory.poke 2
pop temp 0
push local 0
push constant 97
add
push constant 7711
call Memory.poke 2
pop temp 0
push local 0
push constant 129
add
push constant 7999
call Memory.poke 2
pop temp 0
push local 0
push constant 161
add
push constant 6591
call Memory.poke 2
pop temp 0
push local 0
push constant 193
add
push constant 4031
call Memory.poke 2
pop temp 0
push local 0
push constant 225
add
push constant 3359
call Memory.poke 2
pop temp 0
push local 0
push constant 257
add
push constant 3463
call Memory.poke 2
pop temp 0
push local 0
push constant 289
add
push constant 2561
call Memory.poke 2
pop temp 0
push local 0
push constant 321
add
push constant 3600
call Memory.poke 2
pop temp 0
push local 0
push constant 353
add
push constant 1600
call Memory.poke 2
pop temp 0
push local 0
push constant 385
add
push constant 1849
call Memory.poke 2
pop temp 0
push local 0
push constant 417
add
push constant 1923
call Memory.poke 2
pop temp 0
push local 0
push constant 449
add
push constant 3908
call Memory.poke 2
pop temp 0
push local 0
push constant 481
add
push constant 124
call Memory.poke 2
pop temp 0
push local 0
push constant 513
add
push constant 3842
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 545
add
push constant 28673
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 577
add
push constant 3585
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 609
add
push constant 227
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 641
add
push constant 16130
call Memory.poke 2
pop temp 0
push local 0
push constant 673
add
push constant 12032
call Memory.poke 2
pop temp 0
push local 0
push constant 705
add
push constant 32707
call Memory.poke 2
pop temp 0
push local 0
push constant 737
add
push constant 1280
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 769
add
push constant 3715
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 801
add
push constant 24706
call Memory.poke 2
pop temp 0
push local 0
push constant 833
add
push constant 16214
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 865
add
push constant 32581
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 897
add
push constant 32621
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 929
add
push constant 215
call Memory.poke 2
pop temp 0
push local 0
push constant 961
add
push constant 511
call Memory.poke 2
pop temp 0
push local 0
push constant 993
add
push constant 1023
call Memory.poke 2
pop temp 0
push local 0
push constant 1025
add
push constant 1023
call Memory.poke 2
pop temp 0
push local 0
push constant 1057
add
push constant 2047
call Memory.poke 2
pop temp 0
push local 0
push constant 1089
add
push constant 2031
call Memory.poke 2
pop temp 0
push local 0
push constant 1121
add
push constant 2031
call Memory.poke 2
pop temp 0
push local 0
push constant 1153
add
push constant 1999
call Memory.poke 2
pop temp 0
push local 0
push constant 1185
add
push constant 3975
call Memory.poke 2
pop temp 0
push local 0
push constant 1217
add
push constant 3975
call Memory.poke 2
pop temp 0
push local 0
push constant 1249
add
push constant 3843
call Memory.poke 2
pop temp 0
push local 0
push constant 1281
add
push constant 7939
call Memory.poke 2
pop temp 0
push local 0
push constant 1313
add
push constant 3975
call Memory.poke 2
pop temp 0
push local 0
push constant 1345
add
push constant 3843
call Memory.poke 2
pop temp 0
push local 0
push constant 1377
add
push constant 3843
call Memory.poke 2
pop temp 0
push local 0
push constant 1409
add
push constant 3843
call Memory.poke 2
pop temp 0
push local 0
push constant 1441
add
push constant 7939
call Memory.poke 2
pop temp 0
push local 0
push constant 1473
add
push constant 16131
call Memory.poke 2
pop temp 0
push local 0
push constant 1505
add
push constant 32515
call Memory.poke 2
pop temp 0
push local 0
push constant 1537
add
push constant 253
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1569
add
push constant 1277
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 514
add
push constant 7
call Memory.poke 2
pop temp 0
push local 0
push constant 546
add
push constant 15
call Memory.poke 2
pop temp 0
push local 0
push constant 578
add
push constant 19
call Memory.poke 2
pop temp 0
push local 0
push constant 770
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 802
add
push constant 2
call Memory.poke 2
pop temp 0
push local 0
push constant 834
add
push constant 3
call Memory.poke 2
pop temp 0
push local 0
push constant 866
add
push constant 4
call Memory.poke 2
pop temp 0
push local 0
push constant 898
add
push constant 11
call Memory.poke 2
pop temp 0
push local 0
push constant 930
add
push constant 9
call Memory.poke 2
pop temp 0
push local 0
push constant 962
add
push constant 23
call Memory.poke 2
pop temp 0
push local 0
push constant 994
add
push constant 18
call Memory.poke 2
pop temp 0
push local 0
push constant 1026
add
push constant 30
call Memory.poke 2
pop temp 0
push local 0
push constant 1058
add
push constant 38
call Memory.poke 2
pop temp 0
push local 0
push constant 1090
add
push constant 66
call Memory.poke 2
pop temp 0
push local 0
push constant 1122
add
push constant 77
call Memory.poke 2
pop temp 0
push local 0
push constant 1154
add
push constant 147
call Memory.poke 2
pop temp 0
push local 0
push constant 1186
add
push constant 96
call Memory.poke 2
pop temp 0
push constant 0
return
function Main.main 7
push constant 230
pop local 0
push constant 38
pop local 1
push constant 470
pop local 2
push constant 221
pop local 3
push constant 2
pop local 4
push constant 20
pop local 5
push constant 30
pop local 6
call Screen.clearScreen 0
pop temp 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push local 0
push local 1
push local 2
push local 3
push local 4
call Main.drawBox 5
pop temp 0
push constant 300
call Main.drawBoss 1
pop temp 0
push local 5
call Main.drawPlayerLife 1
pop temp 0
push local 6
call Main.drawBossLife 1
pop temp 0
push constant 1000
call Sys.wait 1
pop temp 0
push local 5
push constant 3
call Main.playerDamage 2
pop local 5
push constant 1000
call Sys.wait 1
pop temp 0
push local 5
push constant 3
call Main.playerDamage 2
pop local 5
push constant 1000
call Sys.wait 1
pop temp 0
push local 5
push constant 3
call Main.playerDamage 2
pop local 5
push constant 1000
call Sys.wait 1
pop temp 0
push local 5
push constant 3
call Main.playerDamage 2
pop local 5
call Sys.halt 0
pop temp 0
push constant 0
return
